# Python bytecode files
*.pyc
__pycache__

# Ignore output from pip
build
sdist
*.egg-info

#Ignore output from tox
.coverage
.tox
.cache
cov_html

#Ignore the output from the cea download and build process
cea/*
!cea/getCea.sh